* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #121c32;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: #111625;
    padding: 20px 40px;
}

nav h2 {
    color: #0f65b8;
}

.hero{
    background: #254191;
    padding: 20px 40px;
}

main {
    max-width: 1100px;
    margin: auto;
    padding: 40px 20px;
}

.card{
    background: #041f4e;
    width: 400px;
    padding: 25px;
    margin-top: 30px;
    border-radius: 30px;
}

.cardContainer{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 15px;
    column-gap: 40px;
}

h1 {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 15px;
}